%section#categories
  %ul
    - @user_categories.each do |c|
      %li(id="cat#{c.id.to_s}")
        =link_to c.name, "#articles#{c.id.to_s}"

%section#content
  - @user_categories.each do |c|
    %div(id="articles#{c.id.to_s}")
      - @articles[c.id].each do |a|
        %ul
          %li
            %p#title
              =link_to a.title, redirect_article_path(a)
              #details
                =a.available_source.title
                ,
                =a.pub_date
                #teaser
                  =a.teaser


