// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


a {
  color: grey;
  &:hover { color: #ffb3ff; }
  &:visited { color: #c458cb; }
  text-decoration: none;
}

p#title {
  font-family: 'Droid Serif';
  font-size: 1.5em;
}

div#teaser {
	width: 60%;
	padding-top: 10px;
}

#categories {
	background-color: green;
	height: 30px;
	padding: 10px 0px 0px 5px;
	width: 100%;

  a{color: white;}

  ul li {
    display: inline;
    padding: 0 10px 0 10px;
    border-right: 1px solid white;
    &:last-child { border: none }
  }
}

#user_nav{
	font-size: small;
	float: right;
	right: 20 px;
	padding-right: 10px;
	padding-top: 10px;
	position: relative;
	color: white;

}

#feed{
	position: absolute;
	padding: 20px 0px 0px 20px;
	li {
    list-style-type: none;
    padding: 20px 0px 0px 0px; 
	
    }
}

#details{
	font-size: .8em;
  padding-top: 10px;
}

#content {
  div {visibility: hidden;}
}

.active {
  visibility: visible;
}